/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 2, 2017, 3:42:14 AM
    Author     : Amir
*/

html, body, #cesiumContainer {
    top: 0px;
    left: 0px;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    z-index: 1;
}
#uiMenu {
    border-radius:5px;
    padding: 10px;
    position:absolute;
    left: 20px;
    font-family: "Arial";
    z-index: 99999;
    color:white; 
    top: 5px;
    width:80%;
}
#status {
/*    display: none;*/
    font-size: 25px;
    background: rgba(48, 51, 54, 0.65);
    border: 1px solid #444;
    color: #edffff;
    width: 20%;
    padding: 1%;
}
#legend{
    max-height: 100%;
    max-width: 100%;
    left: 10px;
    bottom: 110px;
    position: absolute;
    z-index: 1;
}
#legend2{
    max-height: 100%;
    max-width: 100%;
    left: 10px;
    top:  82px; 
    position: absolute;
    z-index: 1;
}
#legends {

    display:block
}
#chart{
    position: relative;    float: right;
    bottom: 0;
    z-index: 1;
}
#chart-container{
    position: absolute;
    width: 100%;
    bottom: 27px ;            
}
#chart-control{
    position: absolute;
    right: 0;
    top: -32px;
    z-index: 1;
}
#charts-outer
{
    position: absolute;  width: 100px;
    height:00px;
    right: 0;
    top:  60px;

}
.mute{
    display:none;
}
.on{
    display:inline-block
}
#selection-button-dummy
{
    display: inline
}

#container1{
    display:none; 
    width: 300px;
    height: 300px;
    z-index: 2;
    position: absolute;

    /*
    right: -62px;
    top:80px;*/
}

.highcharts-container{
    overflow:visible !important;
}
#start-text{
    font-size: 1.2em;
    color: whitesmoke;
    z-index: 1;
    margin: 0;
    width: 100%;
    text-align: center;
    height: 50%;
    position: absolute;
    top: 50%;
    font-family: "Arial";

}
.waterlevel {
    display:block
}
.seepage{
        display:block
}
.hide{
        display:none; 

}